$baseFontSize: 100px !default;
$baseFontSize2x: 200px !default;
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}
.mint-radiolist{
  display: flex;
  font-size: 13px;
  .mint-radiolist-title{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 30px;
    color: #333333
  }
  .mint-cell-wrapper{
     padding: 0;
  }
  .mint-radiolist-label{
     padding: 0;
  }
  .mint-cell{
    padding-right: 10px;
    margin-left: 10px;
  }
  .mint-radio-label{
    margin-left: 0px;
   
  }
}

.base-info{
  font-size: 13px;
  // .el-input{
  //   width: pxToRem(175px);
  // }
  .el-form-item{
    margin-bottom: pxToRem(15px);
  }

}
.home{
  
  .el-step{
    width: 25%;
  }
  >.el-steps.is-horizontal.is-center{

    margin: pxToRem(20px) 0 0 0;
    padding-left: pxToRem(30px);
  }
}

li{
  list-style-type:none
}
ul,
li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
}

.mint-button--primary.is-plain{
  border-color: #ff651b;
  color: #ff651b;
}